<div class="container"
fxLayout="column"
fxLayoutGap="10px"> 

<div class="row" *ngIf="Display_login">
  <div class="column" style="width: 65%;">
    <h1 style="color: aqua;font-weight: 500;margin-bottom: 80px;" class="font_family"><b>Sign in to weshare</b></h1>
    <p style="color: rgb(150, 149, 149);" class="font_family">use you registered email address to sign in</p>
      <input type="text"  class="login uid font_family" [(ngModel)]="email" placeholder="Email" > <br>
      <input type="password" class="login font_family" [(ngModel)]="password" placeholder="password">
      <br>
      <button (click) ="signIn()" class="sign in font_family">Sign in</button>
  </div>
  <div class="column" style="background-color: aqua;width: 35%;" *ngIf="!register_page">
    <h2 style="font-weight: 500;color:white;margin-top: 100px;margin-bottom: 40px;font-weight: 600;" class="font_family">Welcome to weshare !</h2> <br>
    <p class="welcome_content font_family"> Enter your details by clicking on sign up and start your journey with us </p>
    <button (click) ="register()"class="sign up font_family">Sign up</button>
  </div>
  <div class="column" style="background-color: aqua;width: 35%;" *ngIf="register_page">
    <h2 style="font-weight: 500;color:white;margin-bottom: 10px;margin-top: 50px;font-weight: 600;" class="font_family">Welcome to weshare !</h2> <br>
    <input type="text"  class="register uid font_family" [(ngModel)]="email" placeholder="Email" > <br>
    <input type="password" class="register font_family" [(ngModel)]="password" placeholder="password"> <br>
    <input type="password" class="register font_family" [(ngModel)]="confirm_password" placeholder="confirm password">
    <br>
    <button (click) ="signUp()"class="sign up font_family" style="margin-top: 40px;">Sign up</button>
  </div>
</div>
<div style="text-align: center;margin-top: 30px;" ><a href="http://localhost:4200/" (click)="backtopage()" target="blank">{{msg}}</a></div>


<div class={{displayapp}} class="row" *ngIf="!Display_login" > 
  <!--  -->
  <div class="header_weshare"> 
    <div class="branding"> <!-- style="margin-left: 40px;" //- (note:- when side nav icon is active this code should be active in this class branding)-->
      <!-- <img alt="img" class="icon_size" src=""/> -->
      <!-- <span class="line"></span> -->
      <div class="title"> weshare </div>
     <div style="text-align: right; margin-top: -40px;"> <button (click) = "Refresh()" >Log Out</button> </div>
  </div>
  </div>
   <!--<div class="row">
      <div class="col-md-5">
        <app-employee></app-employee>
      </div>
      <div class="col-md-7">
        <app-employee-list></app-employee-list>
      </div>
      
       <div (click)="onclick()"class="col-md-7">
          <app-subjects-tab></app-subjects-tab> 
        </div>
        <div class={{display}}>
          <app-subjects-data></app-subjects-data> 
        </div>
        <div class={{display}}>
        <div class="col-md-7">
        <app-subjects-add-edit></app-subjects-add-edit>
      </div>
    </div>
  </div>
  </div>-->
  
  
  <div class="float-container">
    <div class="float-child">
        <div (click)="onclick()">
            <app-subjects-tab></app-subjects-tab> 
          </div>
</div>
<div class="float-child1">
    <div class={{display}}>
            <app-subjects-data></app-subjects-data> 
           <div> <div style ="text-align:right "><button (click) = "onclickupdate()" class={{display}} style="  padding:0.9em 2em; border-radius: 8px; color:rgb(14, 11, 11); background-color:rgb(18, 200, 224); font-size:1.1em; border:0; cursor:pointer; margin:1em;" >Update</button> </div></div>
           <div class={{deletesub}} style ="text-align:right ">
            <button (click) = "onDelete(service.formData.id)"  style="  padding:0.9em 2em; border-radius: 8px; color:rgb(14, 11, 11); background-color:rgb(18, 200, 224); font-size:1.1em; border:0; cursor:pointer; margin:1em;" >Delete</button> 
          </div>
          
          </div>
          <div class={{displayonupdate}}>
          <div>
         <!--<app-subjects-add-edit></app-subjects-add-edit>-->
          <app-updatesubject></app-updatesubject>
    </div>
 </div>
 <!--<div class={{updatebutton}} style ="text-align:right "><button (click) = "onclicaddsubject()"  style="  padding:0.9em 2em; border-radius: 8px; color:rgb(14, 11, 11); background-color:rgb(18, 200, 224); font-size:1.1em; border:0; cursor:pointer; margin:1em;" >Add Subject</button> </div>
 -->
 <div class={{displayaddsub}}>
   <div>
  </div>
 
    <app-subjects-add-edit></app-subjects-add-edit>
</div>
</div>         
</div>
<div class={{updatedis}} style ="text-align:right "><button (click) = "onclicaddsubject()"  style="  padding:0.9em 2em; border-radius: 8px; color:rgb(14, 11, 11); background-color:rgb(18, 200, 224); font-size:1.1em; border:0; cursor:pointer; margin:1em;" >Add Subject</button> </div>
</div>




<!-- <div class={{displayapp}} class="row" *ngIf="!Display_login">
  <div>
      <div style="background-color:rgb(18, 200, 224); text-align:left center; ">
  <h1 style ="color:rgb(15, 15, 19);" > WeShare </h1>
  
  <div style ="text-align:right "><button (click) = "Refresh()"  
    style="padding:0.9em 2em; border-radius: 8px; color:rgb(14, 11, 11); background-color:rgb(18, 200, 224); font-size:1.1em; border:0; cursor:pointer; margin:1em;" >Log Out</button> </div>
  </div>
 
  </div>
  
</div> -->
</div>
